@model int
@{
    ViewData["Title"] = "OrderConfirmation";
}


<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Request Submitted</h1><br />
        <img src="~/images/leaves-img.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Thanks for submitting a request online!<br />
        We have recieved your rquest and our team will be call you shortly!<br />
        Your request number is @Model!
    </div>
</div>
